.input {

    display: flex;
    width: 90%;
    position: relative;
    align-items: center;

}

.input_box {
    width: 100%;
    border-radius: 30px;
    transition: 0.2s;
    border: none;
    padding: 20px 30px;
    font-size: 25px;
    box-shadow: inset 0 0 5px black;
}

.input_box:focus {
    box-shadow: 0 0 10px 1000px #00000076;
    outline: none;
}



.input_submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0;
    border: none;
    font-size: 48px;
    background-color: #0c6ca4;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_submit:hover {
    background-color: #093752;
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;

}



.todos_single_form {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: blanchedalmond;
    transition: 0.2s;
    color: black;
}

.todos_single_form:hover{
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}

.todos_single_text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todos_single_text:focus {
    outline: none;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;

}

.container {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.todos_block{

    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30%;
    border-radius: 10px;
    
}
.todos_backlog{
    background-color: rgb(162, 212, 212);
}

.todos_ongoing {
    background: yellow;

}

.todos_ongoing{
    background: orange;
}
.todos_completed {
background-color: darkgreen;
color:snow;
}


.todos_heading {
font-size: 30px;
}
.dragged_backlog{
opacity: 0.8;
transform: scale(1);
background-color: black;
}
.dragged_ongoing{

}
.dragged_completed{

}


@media (max-width:1100px) {
    .todos_block {
        width: 30%;
    }
}

@media (max-width:700px) {
    .input {
        width: 95%;
    }

    .todos {
        width: 95%;
    }

    .todos_single_form {
        width: 100%;
        
    }
    .container{
        width: 95%;
        flex-direction: column;
    }
}